@{

    Layout = "~/Views/Shared/frontend.cshtml";
}



<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Gift</b>Card</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-text-width"></i>
                        <h3 class="box-title">Forgot Password Confirmation</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <dl>
                            <dt>Please login to your email to reset password.</dt>

                        </dl>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
    </div>
</div>
