@model GlobalCollege.Admin.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/frontend.cshtml";
}



<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Gift</b>Card</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Forgot password confirmation</p>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group has-feedback">
                <label class="control-label" for="inputSuccess"> <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Enter registered valid email address"></i> Email </label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Please enter email address to change password" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="row">


                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Email Link</button>
                </div>

            </div>
        }

    </div>
</div>




