<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="~/FrontendTheme/css/style.css" />
<link rel="icon" href="~/FrontendTheme/img/logo1.png" />
<title>Global College International</title>
</head>
<body>
<header>
    <div class="header__width">
        <div class="header__flex">
            <div class="header__left">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-light white">
                    <figure>
                        <a href="index.html">
                            <img src="~/FrontendTheme/img/logo.png" alt="title">
                        </a>
                    </figure>
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent1"
                            aria-controls="navbarSupportedContent1" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>

                    </button>
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <!-- News -->
                            <li class="nav-item dropdown mega-dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="navbarDropdownMenuLink1"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    About
                                    <span class="sr-only">(current)</span>
                                </a>

                                <div class="dropdown-menu mega-menu v-1 z-depth-1 white py-5 px-3"
                                     aria-labelledby="navbarDropdownMenuLink1">
                                    <div class="row">
                                        <div class="col-md-6 col-xl-4 sub-menu mb-xl-0 mb-5">
                                            <h2 class="menu-titles">About us</h2>

                                            <ul class="list-unstyled">
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="mission.html">
                                                        Our Vision
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="mission.html">
                                                        Our Mission
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="mission.html">
                                                        Our Objectives
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="history.html">
                                                        Who we are (GC History)?
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="about-page.html">
                                                        What we do?
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2" href="#">
                                                        Visit GC
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="contact.html">
                                                        Contact Us
                                                    </a>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-xl-4 sub-menu mb-xl-0 mb-5">
                                            <h2 class="menu-titles">Our Institutions</h2>

                                            <ul class="list-unstyled">
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="life@gci.html">
                                                        Uniglobe
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="institute-home.html">
                                                        Global College of Management
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2" href="school.html">
                                                        Global College International
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="college.html">
                                                        Liberty College
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="institute-home1.html">
                                                        Professional Education
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="valleyview.html">
                                                        Valley View School
                                                    </a>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-7 col-xl-4 sub-menu mb-xl-0 mb-4">
                                            <!--Featured image--> <a href="how.html"
                                                                     class="view overlay z-depth-1 p-0 my-3">
                                                <img src="~/FrontendTheme/img/admission_t.png">
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown mega-dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="programsNav" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Programs
                                    <span class="sr-only">(current)</span>
                                </a>

                                <div class="dropdown-menu mega-menu v-1 z-depth-1 white py-5 px-3"
                                     aria-labelledby="navbarDropdownMenuLink1">
                                    <div class="row">
                                        <div class="col-md-6 col-xl-4 sub-menu mb-xl-0 mb-5">
                                            <h2 class="menu-titles">Our Programs</h2>

                                            <ul class="list-unstyled">
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        (Grade XI & XII
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        A-Level
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Business Administration
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Business Studies
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Hotel Management
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Travel & Tours
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Information Management
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Masters of Business Administration
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Masters of Business Studies
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Masters of Information management
                                                    </a>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-7 col-xl-4 sub-menu mb-xl-0 mb-4">
                                            <!--Featured image--> <a href="how.html"
                                                                     class="view overlay z-depth-1 p-0 my-3">
                                                <img src="~/FrontendTheme/img/admission_t.png">
                                            </a>

                                        </div>
                                        <div class="col-md-12 col-xl-4 sub-menu mb-md-0 mb-xl-0 mb-4">
                                            <h2 class="menu-titles">Latest Updates</h2>

                                            <div class="news-single">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!--Image--> <a href="blog-single.html"
                                                                        class="view overlay z-depth-1 p-0 my-3">
                                                            <img src="~/FrontendTheme/img/re-2.png"
                                                                 class="~/FrontendTheme/img-fluid" alt="First sample image">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="news-title smaller mt-md-2 pl-0"
                                                           href="blog-single.html">
                                                            Duis aute irure
                                                            dolor reprehenderit
                                                            in
                                                            voluptate.
                                                        </a>

                                                        <p class="font-small text-uppercase text-muted">
                                                            July 14,
                                                            2017
                                                        </p> <a href="blog-single.html" class="read-more">
                                                            Read
                                                            More
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-single">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!--Image--> <a href="blog-single.html"
                                                                        class="view overlay z-depth-1 p-0 mb-3 mt-4">
                                                            <img src="~/FrontendTheme/img/re-3.png"
                                                                 class="~/FrontendTheme/img-fluid" alt="First sample image">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="news-title smaller mt-md-2 pl-0"
                                                           href="blog-single.html">
                                                            Tempore autem
                                                            reiciendis iste nam
                                                            dicta.
                                                        </a>

                                                        <p class="font-small text-uppercase text-muted">
                                                            July 14,
                                                            2017
                                                        </p> <a href="blog-single.html" class="read-more">
                                                            Read
                                                            More
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-single">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!--Image--> <a href="blog-single.html"
                                                                        class="view overlay z-depth-1 p-0 mb-3 mt-4">
                                                            <img src="~/FrontendTheme/img/re-4.png"
                                                                 class="~/FrontendTheme/img-fluid" alt="First sample image">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="news-title smaller mt-2 pl-0"
                                                           href="blog-single.html">
                                                            Eligendi
                                                            dicta sunt amet, totam ea
                                                            recusandae.
                                                        </a>

                                                        <p class="font-small text-uppercase text-muted">
                                                            July 14,
                                                            2017
                                                        </p> <a href="blog-single.html" class="read-more">
                                                            Read
                                                            More
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown mega-dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="publication" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Publication
                                    <span class="sr-only">(current)</span>
                                </a>

                                <div class="dropdown-menu mega-menu v-1 z-depth-1 white py-5 px-3"
                                     aria-labelledby="navbarDropdownMenuLink1">
                                    <div class="row">
                                        <div class="col-md-6 col-xl-4 sub-menu mb-xl-0 mb-5">
                                            <h2 class="menu-titles">Our Programs</h2>

                                            <ul class="list-unstyled">
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        (Grade XI & XII
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        A-Level
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Business Administration
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Business Studies
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Hotel Management
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Travel & Tours
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Bachelor of Information Management
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Masters of Business Administration
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Masters of Business Studies
                                                    </a>

                                                </li>
                                                <li class="sub-title">
                                                    <a class="menu-item pl-1 mt-2"
                                                       href="course-all.html">
                                                        Masters of Information management
                                                    </a>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12 col-xl-4 sub-menu mb-md-0 mb-xl-0 mb-4">
                                            <h2 class="menu-titles">Latest Updates</h2>

                                            <div class="news-single">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!--Image--> <a href="blog-single.html"
                                                                        class="view overlay z-depth-1 p-0 my-3">
                                                            <img src="~/FrontendTheme/img/re-2.png"
                                                                 class="~/FrontendTheme/img-fluid" alt="First sample image">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="news-title smaller mt-md-2 pl-0"
                                                           href="blog-single.html">
                                                            Duis aute irure
                                                            dolor reprehenderit
                                                            in
                                                            voluptate.
                                                        </a>

                                                        <p class="font-small text-uppercase text-muted">
                                                            July 14,
                                                            2017
                                                        </p> <a href="blog-single.html" class="read-more">
                                                            Read
                                                            More
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-single">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!--Image--> <a href="blog-single.html"
                                                                        class="view overlay z-depth-1 p-0 mb-3 mt-4">
                                                            <img src="~/FrontendTheme/img/re-3.png"
                                                                 class="~/FrontendTheme/img-fluid" alt="First sample image">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="news-title smaller mt-md-2 pl-0"
                                                           href="blog-single.html">
                                                            Tempore autem
                                                            reiciendis iste nam
                                                            dicta.
                                                        </a>

                                                        <p class="font-small text-uppercase text-muted">
                                                            July 14,
                                                            2017
                                                        </p> <a href="blog-single.html" class="read-more">
                                                            Read
                                                            More
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-single">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!--Image--> <a href="blog-single.html"
                                                                        class="view overlay z-depth-1 p-0 mb-3 mt-4">
                                                            <img src="~/FrontendTheme/img/re-4.png"
                                                                 class="~/FrontendTheme/img-fluid" alt="First sample image">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="news-title smaller mt-2 pl-0"
                                                           href="blog-single.html">
                                                            Eligendi
                                                            dicta sunt amet, totam ea
                                                            recusandae.
                                                        </a>

                                                        <p class="font-small text-uppercase text-muted">
                                                            July 14,
                                                            2017
                                                        </p> <a href="blog-single.html" class="read-more">
                                                            Read
                                                            More
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-xl-4 sub-menu mb-xl-0 mb-4">
                                            <!--Featured image--> <a href="how.html"
                                                                     class="view overlay z-depth-1 p-0 my-3">
                                                <img src="~/FrontendTheme/img/admission_t.png">
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown mega-dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="contactUs" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Contact
                                    <span class="sr-only">(current)</span>
                                </a>

                                <div class="dropdown-menu mega-menu v-1 z-depth-1 white py-5 px-3"
                                     aria-labelledby="navbarDropdownMenuLink1">
                                    <div class="row">
                                        <div class="col-md-6 col-xl-4 sub-menu mb-xl-0 mb-5">
                                            <h2 class="menu-titles">Get In Touch</h2>

                                            <div class="contact-area">
                                                <div class="address">
                                                    <h5>Address:</h5>

                                                    <ul class="list-unstyled">
                                                        <li>Global College International</li>
                                                        <li>PO Box 37380</li>
                                                        <li>Baneshwor Kathmandu Nepal</li>
                                                    </ul>
                                                </div>
                                                <div class="email">
                                                    <h5>Email:</h5>

                                                    <ul class="list-unstyled">
                                                        <li>info@globalcollge.com</li>
                                                        <li>info@globalcollge.com</li>
                                                    </ul>
                                                </div>
                                                <div class="phone">
                                                    <h5>Phone:</h5>

                                                    <ul class="list-unstyled">
                                                        <li>+977- 8800XXXXXX34</li>
                                                        <li>+977- 8800XXXXXX34</li>
                                                    </ul>
                                                </div>
                                                <hr>
                                                <div class="social">
                                                    <ul class="list-inline list-unstyled">
                                                        <li class="list-inline-item">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-facebook-square fa-2x"></i>
                                                            </a>

                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-twitter fa-2x"></i>
                                                            </a>

                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#" class="nav-link">
                                                                <i class="fa fa-linkedin fa-2x"></i>
                                                            </a>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-xl-4 sub-menu mb-md-0 mb-xl-0 mb-4">
                                            <h2 class="menu-titles">Latest Updates</h2>

                                            <div class="news-single">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!--Image--> <a href="blog-single.html"
                                                                        class="view overlay z-depth-1 p-0 my-3">
                                                            <img src="~/FrontendTheme/img/re-2.png"
                                                                 class="~/FrontendTheme/img-fluid" alt="First sample image">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="news-title smaller mt-md-2 pl-0"
                                                           href="blog-single.html">
                                                            Duis aute irure
                                                            dolor reprehenderit
                                                            in
                                                            voluptate.
                                                        </a>

                                                        <p class="font-small text-uppercase text-muted">
                                                            July 14,
                                                            2017
                                                        </p> <a href="#" class="read-more">Read More</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-single">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!--Image--> <a href="blog-single.html"
                                                                        class="view overlay z-depth-1 p-0 mb-3 mt-4">
                                                            <img src="~/FrontendTheme/img/re-3.png"
                                                                 class="~/FrontendTheme/img-fluid" alt="First sample image">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="news-title smaller mt-md-2 pl-0"
                                                           href="blog-single.html">
                                                            Tempore autem
                                                            reiciendis iste nam
                                                            dicta.
                                                        </a>

                                                        <p class="font-small text-uppercase text-muted">
                                                            July 14,
                                                            2017
                                                        </p> <a href="blog-single.html" class="read-more">
                                                            Read
                                                            More
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news-single">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <!--Image--> <a href="blog-single.html"
                                                                        class="view overlay z-depth-1 p-0 mb-3 mt-4">
                                                            <img src="~/FrontendTheme/img/re-4.png"
                                                                 class="~/FrontendTheme/img-fluid" alt="First sample image">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>

                                                    </div>
                                                    <div class="col-md-8">
                                                        <a class="news-title smaller mt-2 pl-0"
                                                           href="blog-single.html">
                                                            Eligendi
                                                            dicta sunt amet, totam ea
                                                            recusandae.
                                                        </a>

                                                        <p class="font-small text-uppercase text-muted">
                                                            July 14,
                                                            2017
                                                        </p> <a href="blog-single.html" class="read-more">
                                                            Read
                                                            More
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-xl-4 sub-menu mb-xl-0 mb-4">
                                            <!--Featured image--> <a href="how.html"
                                                                     class="view overlay z-depth-1 p-0 my-3">
                                                <img src="~/FrontendTheme/img/admission_t.png">
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown mega-dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="activities" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Students
                                    <span class="sr-only">(current)</span>
                                </a>

                            </li>
                        </ul>
                        <!-- Links -->
                        <!-- Links -->
                        <div class="header__right ml-auto">
                            <ul>
                                <li>
                                    <img src="~/FrontendTheme/img/phone.svg" class="header__icon"> <span>01-4465186</span>

                                </li>
                                <li>
                                    <a href="how.html" class="btn btn-primary" data-toggle="modal"
                                       data-target="#applyForm">
                                        <img src="~/FrontendTheme/img/top-sv.svg" class="header__icon">
                                        <span>Apply Now</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <!-- Links -->
                    </div>
                    <!-- Collapsible content -->
                </nav>
                <!-- Navbar -->
            </div>
        </div>
    </div>
</header>
                 <section id="home">
                    @RenderBody()                </section>
<div class="popup-admission unseen">
    <div class="popup-header">
        <i class="fa fa-angle-up"></i>
        <i class="fa fa-times"></i>

        <h2>Admission Open</h2>

    </div>
    <div class="popup-content">
        <div class="content">
            <h3>Admission for BBA</h3>

            <p>Intech June / July</p>
        </div>
        <div class="action-popup">
            <a class="btn btn-primary" href="course-d.html">Apply Now</a>

        </div>
    </div>
    <div class="popup-content">
        <div class="content">
            <h3>Admission for MBA</h3>

            <p>Intech April / May</p>
        </div>
        <div class="action-popup">
            <a class="btn btn-primary" href="course-d.html">Apply Now</a>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="applyForm" tabindex="-1" role="dialog" aria-labelledby="applyForm"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-md-4 submit-cv-left d-flex align-items-center justity-content-center">
                        <div class="left-side d-flex align-items-center justify-content-center">
                            <div>
                                <img src="~/FrontendTheme/img/rocket.png" alt="" class="vert-move">
                                <h3 class="text-white">Submit Application</h3>

                                <p>You are 30 seconds away from Submitting your Application</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first">First Name</label>
                                        <input type="text" class="form-control" placeholder="First Name"
                                               id="first">
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="last">Last Name</label>
                                        <input type="text" class="form-control" placeholder="Last Name"
                                               id="last">
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="company">College Name</label>
                                        <input type="text" class="form-control" placeholder="College Name"
                                               id="company">
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone Number</label>
                                        <input type="tel" class="form-control" id="phone"
                                               placeholder="Phone">
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" id="email"
                                               placeholder="Email">
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="url">Your Website</label>
                                        <input type="url" class="form-control" id="url" placeholder="Website">
                                    </div>
                                </div>
                                <!-- col-md-6 -->
                            </div>
                            <!-- row -->
                            <label for="contact-preference">When is the best time of day to reach you?</label>
                            <div class="radio mb-5 pb-5">
                                <label>
                                    <input type="radio" name="contact-preference" id="contact-preference"
                                           value="am" checked>&nbsp;&nbsp;Morning
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>
                                    <input type="radio" name="contact-preference" id="contact-preference2"
                                           value="pm" checked>&nbsp;&nbsp;Evening
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Submit Application &nbsp;&nbsp;<i class="fa fa-arrow-right"></i>

                            </button>
                        </form>
                    </div>
                    <i class="fa fa-times" data-dismiss="modal"></i>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <div class="__caption-info">
                    <p>
                        Visiting campus is one of the best ways to see if <span>Global College International</span> is
                        the right fit for you. Its a chance to take a tour, meet our students,
                        and visit with faculty and admissions staff.
                    </p>
                </div>
                <div class="wrapper_infooter">
                    <a href="course-all.html" class="btn-custom ">
                        View Our Programs<i class="fas fa-arrow-right" aria-hidden="true"></i>
                    </a>

                    <a href="about-page.html" class="btn-plain">
                        About College<i class="fas fa-arrow-right"
                                        aria-hidden="true"></i>

                    </a> <span class="__phone-contactnumber"><i class="fas fa-phone"></i>01-4465186</span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2">
                <figure>
                    <img src="~/FrontendTheme/img/Untitled-2.png" alt="">
                </figure>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="__footer-1">
                    <ul>
                        <li>
                            <a href="about.html">Who We Are</a>

                        </li>
                        <li>
                            <a href="institute.html"> Our Institutions</a>

                        </li>
                        <li>
                            <a href="virtual-tour.html"> College Tour</a>

                        </li>
                        <li>
                            <a href="events.html">Events & News</a>

                        </li>
                        <li>
                            <a href="carrer.html">Careers</a>

                        </li>
                        <li>
                            <a href="life@gci.html"> International Students</a>

                        </li>
                        <li>
                            <a href="2research.html"> Resources</a>

                        </li>
                        <li>
                            <a href="faq.html">FAQs</a>

                        </li>
                        <li>
                            <a href="how.html">How to Apply</a>

                        </li>
                        <li>
                            <a href="courses-d.html">Apply Today</a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-8 ">
                <div class="__footer-2">
                    <h5>
                        Programs
                    </h5>

                    <ul>
                        <li>
                            <a href="course-d.html">
                                Bachelor of Business
                                Administration
                            </a>

                        </li>
                        <li>
                            <a href="course-d.html">
                                Bachelor of Hotel
                                Management
                            </a>

                        </li>
                        <li>
                            <a href="course-d.html">
                                Bachelor of Travel and
                                Tourism Management
                            </a>

                        </li>
                        <li>
                            <a href="course-d.html">
                                Masters of Business
                                Administration
                            </a>

                        </li>
                        <li>
                            <a href="course-d.html">
                                Masters of Business
                                Administration(Evening)
                            </a>

                        </li>
                        <li>
                            <a href="course-d.html"> A-Level</a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="__footer-3">
                    <ul>
                        <li>
                            <span>connect with us</span><span>
                                <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-youtube"></i><i class="fab fa-linkedin-in"></i>
                            </span>

                        </li>
                        <li>
                            <span>Location</span><span>Mid-Baneshwor, Kathmandu, Nepal <br><span>(Get Direction)</span></span>
                        </li>
                        <li>
                            <span>Call Us</span><span>01-4465186, 01-4488410</span>

                        </li>
                        <li>
                            <span>Email us</span><span><a href="">Write Today</a></span>

                        </li>
                        <li>
                            <span>Study with us</span> <span><a href="">Apply Now</a></span>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="for-mobile-bar">
    <a href="tel:9849451411" class="phone"><i class="fa fa-phone"></i> </a>

    <a href="#" class="phone">
        <i class="fa fa-map-marker"></i>
    </a> <a href="#" data-toggle="modal" data-target="#applyForm" class="apply-now">Apply Now</a>

    <a href="#" class="back-top">
        <i class="fa fa-arrow-up"></i>

    </a>
</div>
<a id="back-button"></a>

<script src="~/FrontendTheme/js/all.js"></script>
<script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: '2020-4-17',
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'Long Event',
                        start: '2020-04-15',
                        end: '2020-04-15',
                        url: 'https://google.com/'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2020-04-13T16:00:00'
                    },
                ],
                eventClick: function (event) {
                    if (event.url) {
                        $.magnificPopup.open({
                            items: {
                                iframe: event.url,
                                type: 'iframe'
                            }
                        });
                    }
                }

            });
        })
</script>

</body>
</html>
