@model GlobalCollege.Entity.ViewComponent.BannerViewComponentModel
@{
    Layout = "";

}

<section id="HomeSlider__wrapper">
    <div id="homesliderControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            @foreach (var item in Model.BannerList.OrderBy(x => x.PlacementOrder))
            {
                <div class="carousel-item active">
                    <img class="d-block w-100" src="@item.BannerImageLink" alt="First slide">
                </div>
            }


        </div>
        <a class="carousel-control-prev" href="#homesliderControls" role="button"
           data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#homesliderControls" role="button"
           data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section>

