@model GlobalCollege.Entity.ViewComponent.BannerViewComponentModel
@{
    Layout = "";

}

<div class="hero-slide owl-carousel site-blocks-cover">

    @foreach (var item in Model.BannerList.OrderBy(x => x.PlacementOrder))
    {
        <div class="intro-section" style="background-image: url(@item.BannerImageLink);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                        <h1>@item.Name</h1>

                    </div>
                </div>
            </div>
        </div>
    }

</div>

