@model BlogInformation
@{
    Layout = "";

}

<section class="hometour sectionTop">
    <div class="homeTour__bg"
         style="background: url(@Model.BannerImageLink);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;background-position: center;">
        <div class="container">
            <div class="textCenter--tour">
                <a href="#"><i class="far fa-play-circle" aria-hidden="true"></i></a>

                <h2>@Model.Title</h2>
                <p>
                    @Html.Raw(Model.ShortDescription)
                </p>
            </div>
        </div>
    </div>
</section>
