@model BlogInformation
@{
    Layout = "";

}

<div class="college-page">
    <div class="section-bg style-1" style="background-image: url(@Model.BannerImageLink);">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="section-title-underline style-2">
                        <span>@Model.Title</span>
                    </h2>

                </div>
                <div class="col-lg-8">
                    <p class="lead">
                       
                        @Html.Raw(Model.ShortDescription)
                    </p>
                    <p>
                        <a href="/ContentManagement/InstituionSetup/Details?Id=@Model.Id">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



