@model List<string>
@{
    Layout = "";

}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-3">
                <p class="research-description">
                    @Html.Raw(item)
                </p>
            </div>
        }
    </div>
</div>