@model GlobalCollege.Entity.ViewComponent.MessageViewComponentModel
@{
    Layout = "";

}


<div class="messageContainer" style="background-image: url(@Url.Content(Model.Message.ThumbnailImageLink));">
    <div class="message">
        <h2>@Model.Message.Title</h2>

        <h3>@Model.Message.Quote</h3>

        <p>
            @Html.Raw(Model.Message.DetailDescription)
        </p>
        <img src="" alt="sign" width="150">
    </div>
</div>





