@model GlobalCollege.Entity.ViewComponent.ProgramViewComponentModel
@{
    Layout = "";

}

<section class="globalProgram sectionTop">
    <div class="container">
        <div class="global--section global__section--mb">
            <p>Academic Programs</p>
            <h2 class="global__section--title">@Html.Raw(Model.ProgramDescription)</h2>
        </div>
        <div class="row">
            @foreach (var item in Model.Programs.OrderBy(x => x.PlacementOrder))
            {
                <div class="col* col-md-6 col-lg-4 program__list">
                    <div class="program__card text-center">
                        <h3>@item.Title</h3>
                        <p>
                            @Html.Raw(item.ShortDescription)
                        </p>
                        <div class="global__btn global--btn">
                            <a href="/ContentManagement/ProgramSetup/Details?Id=@item.Id" target="_blank">
                                Apply Online <i class="fas fa-angle-right" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

