<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationRootPath" value="H:\Frontend" />
    <add key="BaseAddress" value="http://localhost:8081/"/>
    <add key="username" value="superadmin@voyageritnepal.com"/>
    <add key="password" value="Satellite@123456"/>
    <add key="secretKey" value="6LfubboZAAAAAMbH7IefXMC4LOCRjuPTleHIBT8I" />
    <add key="To" value="sumendrapandey44@gmail.com"/>
    <add key="Name" value="Sumendra Pandey"/>
  </appSettings>
</configuration>