@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Template/Layout/MasterLayout.cshtml";
}


<section id="home">
    <section class="globalBrand video">
        <div class="overlay"></div>
        <iframe src="https://www.youtube.com/embed/UgqAqNcKjUE?autoplay=1&mute=1&controls=0&showinfo=0&rel=0&loop=1&modestbranding=1&rel=0&controls=0&disablekb=1"
                frameborder="0" allowfullscreen></iframe>
        <div class="video__content">
            <div class="video__center">
                <div class="container">
                    <h2>a tradition since 2009</h2>

                    <div class="video__center--quote">
                        <h3>change your life. start here.</h3>
                        <a href="course-all.html" class="btn-primary btn-global">
                            Our Programs&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
                        </a>
                        <a href="about.html"
                           class="btn-primary btn-global btn-border">
                            Learn more &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="news__btm">
            <h4>Latest News <i class="fas fa-arrow-down pl-3 up-down-animation"> </i></h4>

            <ul class="list-unstyled">
                <li>
                    <a href="blog-single.html">
                        MBA | MBAE Orientation programe <i class="fas fa-angle-right"> </i>
                    </a>

                </li>
                <li>
                    <a href="blog-single.html">A Level Speech Competition <i class="fas fa-angle-right"> </i> </a>

                </li>
            </ul>
        </div>
        <div class="video__contentbtm">
            <div class="container">
                <ul class="list-unstyled">
                    <li>
                        <a href="how.html">
                            <div class="video__flexbtm">
                                <span class="video__icon"><img src="~/FrontendTheme/img/gradution.svg" alt="education"></span>
                                <p>admission <br> open</p>
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="events.html">
                            <div class="video__flexbtm">
                                <span class="video__icon"><img src="~/FrontendTheme/img/calendar.svg" alt="events"></span>
                                <p>upcoming <br> event</p>
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <div class="video__flexbtm">
                                <span class="video__icon"><img src="~/FrontendTheme/img/brochure.svg" alt="download"></span>
                                <p>download <br> broucher</p>
                            </div>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        </div>
    </section>
    <!-- hompage banner section end -->
    <section id="AboutUs">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="flexing_box wow shake">
                        <div class="textAbout">
                            <div class="h4_wrapping">
                                <h4>
                                    “Education is the manifestation of required perfection which is already in
                                    human”
                                </h4>

                            </div>
                            <p>
                                I sincerely acknowledge all the students, parents and guardians of Global
                                College International (GCI) for your trust on us in our joint endeavours
                                geared to transforming the self and the society in this competitive environment
                                to become the pillar of your family, society and the nation.
                            </p>
                            <p>
                                Since 2010, Global College International (GCI) has been recognized as
                                being a pioneering centre of world class business education for those students
                                who are in the hunt of global standards within their homeland, Nepal.
                            </p>
                            <div class="d-flex justify-content-between align-items-start pt-5 mt-5">
                                <div class="info_wrapper">
                                    <span class="text__name">Karan Singh Thagunna, PhD</span>
                                    <span class="degination">-principal</span>

                                </div>
                                <span class="text__button">

                                    <a href="messages.html" class="btn btn-primary">
                                        Explore More <i class="fas fa-angle-right"></i>
                                    </a>

                            </div>

                            </span>

                        </div>
                        <div class="figureImage">
                            <figure>
                                <img src="~/FrontendTheme/img/about__us.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="data__list wow bounceInRight">
                        <ul>
                            <li>
                                <a href="about.html">
                                    <span class="about-icons"><img src="~/FrontendTheme/img/009-problem.png" alt="abt"></span>Professional
                                    Educators <i class="fas fa-angle-right"></i>
                                </a>

                            </li>
                            <li>
                                <a href="about.html">
                                    <span class="about-icons"><img src="~/FrontendTheme/img/041-target.png" alt="abt"></span>Our
                                    Vision & Mission <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    <span class="about-icons">
                                        <img src="~/FrontendTheme/img/044-human-resources.png"
                                             alt="abt">
                                    </span>GCI Board of
                                    Directors <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    <span class="about-icons"><img src="~/FrontendTheme/img/025-victory.png" alt="abt"></span>Management
                                    Desk <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    <span class="about-icons">
                                        <img src="~/FrontendTheme/img/034-user.png"
                                             alt="abt">
                                    </span>GCI Affiliations <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="faq.html">
                                    <span class="about-icons">
                                        <img src="~/FrontendTheme/img/035-choice.png"
                                             alt="abt">
                                    </span>How to apply? <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="admission-banner">
        <div class="container">
            <img src="~/FrontendTheme/img/admission-open.png" class="admission-banner" alt="admission-open">
        </div>
    </section>
    <section id="getStart">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title">Our Programs</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="get_start_carousel owl-carousel">
                        <div>
                            <a href="course-d.html">
                                <div class="getStart__wrapper wow bounceInUp">
                                    <img src="~/FrontendTheme/img/st-2.png" alt="a-level">
                                    <h5>A Level Program management</h5>

                                </div>
                            </a>

                        </div>
                        <div>
                            <a href="course-d.html">
                                <div class="getStart__wrapper wow bounceInUp">
                                    <img src="~/FrontendTheme/img/st-3.png" alt="a-level">
                                    <h5>Bachelor Hotel Management</h5>

                                </div>
                            </a>

                        </div>
                        <div>
                            <a href="course-d.html">
                                <div class="getStart__wrapper wow bounceInUp">
                                    <img src="~/FrontendTheme/img/st-4.png" alt="a-level">
                                    <h5>Bachelor Of Business Administration</h5>

                                </div>
                            </a>

                        </div>
                        <div>
                            <a href="course-d.html">
                                <div class="getStart__wrapper wow bounceInUp">
                                    <img src="~/FrontendTheme/img/st-5.png" alt="a-level">
                                    <h5>
                                        Bachelor of Travel & Tourism
                                    </h5>

                                </div>
                            </a>

                        </div>
                        <div>
                            <a href="course-d.html">
                                <div class="getStart__wrapper wow bounceInUp">
                                    <img src="~/FrontendTheme/img/st-6.png" alt="a-level">
                                    <h5>
                                        Bachelor of Travel & Tourism
                                    </h5>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center pt-5">
                    <a href="course-d.html" class="btn btn-primary">
                        View All
                        Program
                    </a>

                </div>
            </div>
        </div>
    </section>
    <section id="affilation__">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow bounceInDown"></div>
                <div class="col-lg-6 ml-auto">
                    <div class="addmission__open wow pulse">
                        <h2 class="section-title">Admission open</h2>

                        <div class="admission-open">
                            <p>
                                <strong>Bachelor of Business Administration</strong>
                                2020 intech Limited
                                seats remaining.
                            </p>
                            <div>
                                <a href="course-d.html" class="btn-custom" data-toggle="modal"
                                   data-target="#applyForm">
                                    Apply Now <i class="fas fa-arrow-right"></i>
                                </a>

                            </div>
                        </div>
                        <div class="admission-open">
                            <p>
                                <strong>Masters of Business Administration</strong>2020 intech Limited
                                seats remaining.
                            </p>
                            <div>
                                <a href="course-d.html" class="btn-custom" data-toggle="modal"
                                   data-target="#applyForm">
                                    Apply Now <i class="fas fa-arrow-right"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="whyUs">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-title">We are the best college in town</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li class="wow pulse">
                            <div class="icon-i">
                                <img src="~/FrontendTheme/img/017-trophy.png" alt="">
                            </div>
                            <div class="sp-content">
                                <a href="blog.html">
                                    Achievement rates have
                                    risen to 92%
                                </a>

                                <p>We are pleased to announce these successful ideas</p>
                            </div>
                        </li>
                        <li class="wow pulse">
                            <div class="icon-i">
                                <img src="~/FrontendTheme/img/048-graduate.png" alt="">
                            </div>
                            <div class="sp-content">
                                <a href="blog.html">
                                    We'll prepare you to move on to the world of work.
                                </a>

                                <p>We are pleased to announce these successful ideas</p>
                            </div>
                        </li>
                        <li class="wow pulse">
                            <div class="icon-i">
                                <img src="~/FrontendTheme/img/015-chemistry.png" alt="">
                            </div>
                            <div class="sp-content">
                                <a href="blog.html">
                                    Fantastic facilities, giving you the practical skills
                                </a>

                                <p>We are pleased to announce these successful ideas</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <img src="~/FrontendTheme/img/cartoon_images.png" class="vert-move " alt="">
                </div>
                <div class="col-md-4">
                    <ul>
                        <li class="wow pulse">
                            <div class="icon-i">
                                <img src="~/FrontendTheme/img/006-student.png" alt="">
                            </div>
                            <div class="sp-content">
                                <a href="blog.html">
                                    95% of students agree they are developing skills
                                </a>

                                <p>We are pleased to announce these successful ideas</p>
                            </div>
                        </li>
                        <li class="wow pulse">
                            <div class="icon-i">
                                <img src="~/FrontendTheme/img/041-q&a.png" alt="">
                            </div>
                            <div class="sp-content">
                                <a href="blog.html">
                                    Student Satisfaction rating 84% with 91% happy students
                                </a>

                                <p>We are pleased to announce these successful ideas</p>
                            </div>
                        </li>
                        <li class="wow pulse">
                            <div class="icon-i">
                                <img src="~/FrontendTheme/img/025-exam.png" alt="">
                            </div>
                            <div class="sp-content">
                                <a href="blog.html">
                                    Nepal's No1 College for A-Level Institute
                                </a>

                                <p>We are pleased to announce these successful ideas</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="our-institutions">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="section-title">Our Institutions</h2>

                    <div class="row">
                        <div class="col-md-4 col-6">
                            <a href="#">
                                <img src="~/FrontendTheme/img/i-1.png" alt="institution">
                            </a>

                        </div>
                        <div class="col-md-4 col-6">
                            <a href="#">
                                <img src="~/FrontendTheme/img/i-2.png" alt="institution">
                            </a>

                        </div>
                        <div class="col-md-4 col-6">
                            <a href="#">
                                <img src="~/FrontendTheme/img/i-3.png" alt="institution">
                            </a>

                        </div>
                        <div class="col-md-4 col-6">
                            <a href="#">
                                <img src="~/FrontendTheme/img/i-4.png" alt="institution">
                            </a>

                        </div>
                        <div class="col-md-4 col-6">
                            <a href="#">
                                <img src="~/FrontendTheme/img/i-5.png" alt="institution">
                            </a>

                        </div>
                        <div class="col-md-4 col-6">
                            <a href="#">
                                <img src="~/FrontendTheme/img/i-6.png" alt="institution">
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="affilation_box">
                        <h2 class="section-title">
                            Our
                            Affiliations
                        </h2>

                        <p>
                            Global College International (GCI) under the ownership of the renowned
                            educational brand name Professional Educators Limited on a corporate organizational
                            structure.
                        </p>
                        <div class="branding__logo">
                            <ul>
                                <li>
                                    <img src="~/FrontendTheme/img/Untitled1.png" alt="">
                                </li>
                                <li>
                                    <img src="~/FrontendTheme/img/2Untitled.png" alt="">
                                </li>
                                <li>
                                    <img src="~/FrontendTheme/img/3Untitled.png" alt="">
                                </li>
                                <li>
                                    <img src="~/FrontendTheme/img/4Untitled.png" alt="">
                                </li>
                            </ul>
                            <div class="d-flex">
                                <span class="text__button">
                                    <a href="affiliation.html">
                                        Explore More <i class="fas fa-angle-right"></i>
                                    </a>
                                </span>

                                <span class="text__button_gray">
                                    <a href="course-all.html">
                                        Find Course <i class="fas fa-angle-right"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
    <section id="ourInstitution">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <h5>Success Stories</h5>

                            <div class="success_story owl-carousel">
                                <div class="row no-gutters">
                                    <div class="slideMe_wrappper wow bounceInRight col-md-4">
                                        <div class="message_box__">
                                            <p>
                                                My MBA with <b>Global College International</b> was one of the best
                                                experiences
                                                of my life. My MBA at CBS brought clarity of thought, knowledge,
                                                confidence,
                                                courage and conviction to me and my goals. Real time exposure was
                                                immense
                                                throughout the program. Faculty contributes significantly to your
                                                knowledge
                                                base at <b>
                                                    Global
                                                    College
                                                    International
                                                </b>.
                                            </p>
                                            <div class="message_by">
                                                <p>sagar devcota</p> <span>MBA Student (2017)</span>

                                            </div>
                                        </div>
                                    </div>
                                    <figure class="col-md-8">
                                        <img src="~/FrontendTheme/img/stu-1.png" alt="">
                                    </figure>
                                </div>
                                <div class="row no-gutters">
                                    <div class="slideMe_wrappper wow bounceInRight col-md-4">
                                        <div class="message_box__">
                                            <p>
                                                My MBA with <b>Global College International</b> was one of the best
                                                experiences
                                                of my life. My MBA at CBS brought clarity of thought, knowledge,
                                                confidence,
                                                courage and conviction to me and my goals. Real time exposure was
                                                immense
                                                throughout the program. Faculty contributes significantly to your
                                                knowledge
                                                base at <b>
                                                    Global
                                                    College
                                                    International
                                                </b>.
                                            </p>
                                            <div class="message_by">
                                                <p>sagar devcota</p> <span>MBA Student (2017)</span>

                                            </div>
                                        </div>
                                    </div>
                                    <figure class="col-md-8">
                                        <img src="~/FrontendTheme/img/stu-2.png" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="take__tour">
        <div class="container wow bounceInUp">
            <div class="row">
                <div class="col-lg-4">
                    <div class="takeWrapper_tour">
                        <h2 class="section-title white">Take A Tour</h2>

                        <p>
                            Whether you are preparing for your visit or can’t make it in person, use
                            this virtual tour to explore our campus.
                        </p> <a href="faq.html" class="btn-custom">
                            start
                            virtual tour <i class="fas fa-arrow-right"
                                            aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
                <div class="col-lg-7 ml-auto">
                    <div class="form__wrapper">
                        <p>
                            Want to get a better feel of our wonderful campus? Want to learn about
                            the variety of <b>wonderful programs, certificates</b> and <b>services</b> that
                            we offer? Then drop your info below.
                        </p>
                        <form>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Working Email">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Mobile Number">
                                </div>
                                <div class="col-6">
                                    <input type="date" class="form-control" placeholder="Pick a date">
                                </div>
                                <div class="col-6">
                                    <select id="inputState" class="form-control">
                                        <option selected>Purpose of visit</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <select id="inputState" class="form-control">
                                        <option selected>Number of visitor</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="col-12 btn_markup_position form_button-position">
                                    <textarea name="" id="" cols="30" rows="10" class="form-control"
                                              placeholder="Do  you have any questions?"></textarea> <a href="#"
                                                                                                       class="btn-custom">
                                        start
                                        virtual tour<i class="fas fa-arrow-right"></i>
                                    </a>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="latest__update_">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <h4>Latest <br> Update</h4>

                </div>
                <div class="col-lg-7">
                    <div class="idea__wrapper">
                        <div class="bulb__">
                            <figure class="idea__blub">
                                <a href="events-single.html">
                                    <img src="~/FrontendTheme/img/idea__blub.png" alt="">
                                </a>

                            </figure>
                        </div>
                        <div class="date_posted">
                            <span class="dateof">12</span>
                            <span class="date_daysAndmonth">APRIL <br> <span>SUNDAY</span></span>
                        </div>
                        <div class="update_info">
                            <a href="events-single.html">
                                <p>
                                    Update from Cambridge International on
                                    May/June
                                </p>
                            </a>

                            <p><i class="fas fa-clock"></i>9:00 am on 4 March – 12:00 pm on 4 March</p>
                            <p><i class="fas fa-map-marker-alt"></i>Mid-Baneshwor, Kathmandu, Nepal</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-center">
                    <a href="events.html" class="btn-custom">
                        View all Events<i class="fas fa-arrow-right"
                                          aria-hidden="true"></i>
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="news__card wow bounceInUp" data-wow-delay="0.5s">
                        <figure>
                            <a href="blog-single.html">
                                <img src="~/FrontendTheme/img/person_imagae.jpg" alt="">
                            </a>

                        </figure>
                        <p>
                            <a href="blog-single.html">MBA | MBAe Orientation Program</a>
                        </p>
                        <div class="post_date_update">
                            <span>
                                <i class="fa fa-user"
                                   aria-hidden="true"></i> &nbsp;&nbsp;<strong>By</strong> Ram Kumar
                            </span><span>
                                &nbsp;&nbsp; | &nbsp;&nbsp;<i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp; BBA, College
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news__card wow bounceInUp" data-wow-delay="0.7s">
                        <figure>
                            <a href="blog-single.html">
                                <img src="~/FrontendTheme/img/person_imagae1.jpg" alt="">
                            </a>

                        </figure>
                        <p>
                            <a href="blog-single.html">MBA | MBAe Orientation Program</a>
                        </p>
                        <div class="post_date_update">
                            <span>
                                <i class="fa fa-user"
                                   aria-hidden="true"></i> &nbsp;&nbsp;<strong>By</strong> Ram Kumar
                            </span><span>
                                &nbsp;&nbsp; | &nbsp;&nbsp;<i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp; BBA, College
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news__card wow bounceInUp" data-wow-delay="0.9s">
                        <figure>
                            <a href="blog-single.html"><img src="~/FrontendTheme/img/person_imagae2.jpg" alt=""></a>

                        </figure>
                        <p>
                            <a href="blog-single.html">MBA | MBAe Orientation Program</a>
                        </p>
                        <div class="post_date_update">
                            <span>
                                <i class="fa fa-user"
                                   aria-hidden="true"></i> &nbsp;&nbsp;<strong>By</strong> Ram Kumar
                            </span><span>
                                &nbsp;&nbsp; | &nbsp;&nbsp;<i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp; BBA, College
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <br>
                    <br> <a href="blog.html" class="btn-custom ">
                        View all Updates<i class="fas fa-arrow-right"
                                           aria-hidden="true"></i>
                    </a>

                </div>
            </div>
        </div>
    </section>
</section>
